---
platform: linux

image_reousrce:
  type: docker-image
  source:
    repository: allomov/deploy-worker
    tag: latest

run:
  path: pipeline-repo/ci/scripts/kill.sh
  
inputs:
- name: pipeline-repo
  
